body {
	text-align: center;
	background: url('./jeopardylogo.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
	height: 100%;
	width: 100%;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	display: block;
	line-height: 50px;

}

.headCategories {
	height: 50px;
	width: 20%;
	border-radius: 5px;
	border: 1px solid blue;
	background-color: rgb(16, 181, 240);
	display: inline-block;
	float: left;
}

.choices {
	height: 50px;
	width: 20%;
	border-radius: 5px;
	border: 1px solid blue;
	background-color: rgba(16, 181, 240, 0.4);
	/*display: inline-block;*/
	display: inline-block;
	float: left;
}

.choices:hover {
	background-color: blue;
}

.questionDisplay {
	z-index: -1;
	height: 100%;
	width: 100%;
}
